@charset "utf-8";

@media only screen and (max-width:991px) {
    #says {
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: bottom;
    }
}

@media only screen and (max-width:768px) {
    #search-box {
        width: 90%;
        left: 5%;
        right: 5%;
    }

    #header-slider h1 {
        font-size: 30px;
    }

    #header-slider p {
        font-size: 15px;
    }

    .carousel-indicators {
        bottom: -60px;
    }

    .study-us .card {
        width: 80%;
        margin: 0 auto;
    }
}